<span class="lli-month">{{frame.month}}</span>

<span class="lli-percent">{{interestPercentage}}%</span>

<span class="lli-payment-total-bar">
  <span class="lli-payment-interest-percentage" style={{interestPercentageStyle}}></span>
</span>

<span class="lli-loan-total-bar">
  <span class="lli-loan-remaining-bar" style={{loanRemainingStyle}}></span>
</span>

<span class="lli-remaining">${{loanRemainingDisplay}}</span>
<span class="lli-percent">{{percentComplete}}%</span>
