<span class="lli-month">{{frame.month}}</span>

<span class="lli-percent">{{interestPercentage}}%</span>

<span class="lli-payment-total-bar">
  <span class="lli-payment-interest-percentage" style={{interestPercentageStyle}}></span>
</span>

<span class="lli-loan-total-bar">
  <span class="lli-loan-remaining-bar" style={{loanRemainingStyle}}></span>
</span>

<span class="lli-remaining">${{loanRemainingDisplay}}</span>
<span class="lli-percent">{{percentComplete}}%</span>

<div class="lli-extra-payment">
  {{#if hasExtraPayment}}
  {{else}}
    {{#if addingPayment}}
      <i class="lli-icon lli-cancel" {{action "toggleExtraPaymentForm"}}>--</i>
      <form class="lli-extra-payment-form" {{action "addExtraPayment" on="submit"}}>
        {{input value=extraPaymentInput}}
      </form>
    {{else}}
      <i class="lli-icon lli-add" {{action "toggleExtraPaymentForm"}}>+</i>
    {{/if}}
  {{/if}}
</div>