<div class="lli-inputs">
  <div class="lli-input-group">
    <label for="loan-amount">Loan total</label>
    {{input id="loan-amount" value=loanAmountInput}}
  </div>
  <div class="lli-input-group">
    <label for="interest-rate">Interest rate</label>
    {{input id="interest-rate" value=interestRateInput}}
  </div>
  <div class="lli-input-group">
    <label for="monthly-payment">Monthly payment</label>
    {{input id="monthly-payment" value=monthlyPaymentInput}}
  </div>
  <div class="lli-input-group">
    <label for="extra-payment">Regular extra payment</label>
    {{input id="extra-payment" value=extraPaymentInput}}
  </div>
  <div class="lli-input-group">
    Loan paid off early by <i>{{loan.monthsSaved}}</i> months
  </div>
  <div class="lli-input-group">
    Interest Saved via extra payments:
    <i>${{loan.interestSaved}}</i>
  </div>

</div>
<div class="lli-graph">
  <div class="lli-loan-frame lli-header">
    <span class="lli-month">month</span>
    <span class="lli-percent">interest %</span>
    <span class="lli-payment-total-bar"></span>
    <span class="lli-loan-total-bar"></span>
    <span class="lli-remaining">balance $</span>
  </div>

  {{#each loan.frames as |frame|}}
    {{lli-loan-frame loan=loan frame=frame}}
  {{/each}}
</div>
