<div class="lli-inputs">
  <div class="lli-input-group">
    <label for="loan-amount">Loan total</label>
    {{input id="loan-amount" value=loanAmountInput}}
  </div>
  <div class="lli-input-group">
    <label for="interest-rate">Interest rate</label>
    {{input id="interest-rate" value=interestRateInput}}
  </div>
  <div class="lli-input-group">
    <label for="monthly-payment">Monthly payment</label>
    {{input id="monthly-payment" value=monthlyPaymentInput}}
  </div>
  <div class="lli-input-group">
    <label for="extra-payment">Regular extra payment</label>
    {{input id="extra-payment" value=extraPaymentInput}}
  </div>
</div>
<div class="lli-graph">
  {{#each loan.frames as |frame|}}
    {{lli-loan-frame frame=frame}}
  {{/each}}
</div>
